html {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: hsl(212, 45%, 89%);
}

.panel{
    background-color: white;
    padding: 13px 13px;
    border-radius: 15px;
    width: 75%;
    height: 90%;
    max-width: 185.75px;
    max-height: 383.75px;
}

.panel-image{
    border-radius: 10px;
    width: 100%;
    height: 100%;
}

.panel-text{
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin: 20px 5px 5px;
}

.panel-subText{
    font-weight: 400;
    font-size: 10px;
    text-align: center;
    margin: 10px 5px 15px;
    color: hsl(220, 15%, 55%);
}